@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
  background-image: url('bg.jpg');
}
*{
  margin:0;
  paadding:0;
}
nav{
  font-family: 'Ubuntu', sans-serif;
}
nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  	background-color:black;
  color: white;
}
.brand img{
    width: 58px;
    padding: 0 8px;
}
.brand{
  display: flex;
  align-items:center;
  font-weight: bolder;
  font-size: 1.3rem;
}
nav ul li{
  padding: 0 12px;
}
.container{
  min-height: 65vh;
  background-color: black;
  color: white;
  font-family: 'Varela Round', sans-serif;
  display: flex;
  width: 75%;
  margin: 12px auto;
  border-radius: 12px;
  padding: 30px;
   background-image: url('bg1.jpg');
}
.bottom{
  position: sticky;
  height: 90px;
  background-color:black;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#myProgressBar{
  width: 80vw;
  cursor: pointer;
  text-align: center;
}
.icons{
  margin-top: 8px;
}
.icons i{
  cursor: pointer;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
.songItemContainer{
    margin-top:74px;
    margin-left: -15%;
}
.songItem{
    height: 50px;
    display:flex;
    background-color: black;

    color: white;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 80px;
    margin: 0 23px;
    border-radius: 34px;
}
.timestamp{
  margin: 0 23px;
}
.timestamp i{
  cursor: pointer;
}
.songInfo{
  position: absolute;
font-family: 'Varela Round', sans-serif;
  left:0;
}
.songInfo img{
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
